// menu item

.menu-item {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 1.8rem;
    border-radius: 4px;
    color: var(--text-color);
    transition: background-color ease-in-out 200ms;

    & .title {
        padding: 8px;
    }

    &.active {
        color: var(--primary);
    }

    &.active .activeIcon {
        display: flex;
    }

    &.active .icon {
        display: none;
    }

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.icon {
    display: flex;
}

.activeIcon {
    display: none;
}
