.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-button-width: 52px;

    height: var(--default-layout-header-height, 60px);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
    width: 100%;
}

.inner {
    height: 100%;
    width: var(--default-layout-width, 1150px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search,
.search-result {
    width: 361px;
}

.search {
    position: relative;
    height: var(--search-height);
    color: rgb(22, 24, 35);
    border-radius: var(--search-border-radius);
    background-color: rgba(22, 24, 35, 0.06);
    padding-left: 12px;
    display: flex;
    align-items: center;
    border: 1.5px solid transparent;

    &:focus-within {
        border: 1.5px solid rgba(22, 24, 35, 0.2);
    }

    input {
        font-size: 1.6rem;
        caret-color: rgba(254, 44, 85, 1);
        background-color: transparent;
        height: 100%;
        padding: 16px 0px;
        flex: 1;
        width: 252px;
        height: 22px;

        &:not(:placeholder-shown) ~ .btn-search {
            color: rgba(22, 24, 35, 0.75);
        }
    }

    .clear,
    .loading {
        font-size: 16px;
        position: absolute;
        height: 100%;
        display: flex;
        align-items: center;
        right: calc(var(--search-button-width) + 16px);
        width: 16px;
    }

    .btn-search {
        width: var(--search-button-width);
        font-size: 24px;
        padding: 11px 16px 11px 12px;
        color: rgba(22, 24, 35, 0.34);
        border-top-right-radius: var(--search-border-radius);
        border-bottom-right-radius: var(--search-border-radius);
        cursor: pointer;
        background-color: transparent;

        &::after {
            content: '';
            position: absolute;
            top: var(--search-top-spacer);
            right: var(--search-button-width);
            height: calc(var(--search-height) - var(--search-top-spacer) * 2);
            width: 1px;
            background-color: rgba(22, 24, 35, 0.12);
        }

        &:hover {
            background-color: rgba(22, 24, 35, 0.03);
        }

        &:active {
            background-color: rgba(22, 24, 35, 0.06);
        }
    }
}

.accountItem {
    padding: 9px 16px;
    cursor: pointer;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.info {
    flex: 0 1 auto;
    margin-left: 8px;
}

.name {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 22px;
}

.check {
    color: rgb(32, 213, 236);
    margin-left: 12px;
}

.account {
    font-size: 1.4rem;
    color: rgba(22, 24, 35, 0.5);
    font-weight: 400;
    line-height: 20px;
}
