.menu-list {
    width: 260px;
}

.menu-item {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 11px 16px;
    background-color: var(--white);
    margin-left: 0;

    font-size: 16px;
    font-weight: 500;

    cursor: pointer;

    &:hover {
        background: rgba(22, 24, 35, 0.03);
    }
}

.menu-items {
    padding-bottom: 8px;
}
