.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: var(--default-layout-width, 1150px);
    display: flex;
    padding: 0px var(--default-layout-spacer);
}

.content {
    min-height: 1000px;
    flex: 1;
}
