.search,
.search-result {
    width: 361px;
}

.search {
    position: relative;
    height: var(--search-height);
    color: rgb(22, 24, 35);
    border-radius: var(--search-border-radius);
    background-color: rgba(22, 24, 35, 0.06);
    padding-left: 12px;
    display: flex;
    align-items: center;
    border: 1.5px solid transparent;

    &:focus-within {
        border: 1.5px solid rgba(22, 24, 35, 0.2);
    }

    input {
        font-family: var(--font-family);
        font-size: 1.6rem;
        caret-color: rgba(254, 44, 85, 1);
        background-color: transparent;
        height: 100%;
        padding: 16px 0px;
        padding-right: 40px;
        flex: 1;
        width: 252px;
        height: 22px;

        &:not(:placeholder-shown) ~ .btn-search {
            color: rgba(22, 24, 35, 0.75);
        }
    }

    .clear,
    .loading {
        font-size: 16px;
        position: absolute;
        height: 100%;
        top: 50%;
        transform: translateY(-50%);
        color: rgba(22, 24, 35, 0.34);
        right: calc(var(--search-button-width) + 16px);
        width: 16px;
    }

    .loading {
        animation: spiner 1s linear infinite;
    }

    @keyframes spiner {
        0% {
            transform: translateY(-50%) rotate(0deg);
        }
        100% {
            transform: translateY(-50%) rotate(360deg);
        }
    }

    .btn-search {
        display: flex;
        width: var(--search-button-width);
        font-size: 24px;
        padding: 11px 16px 11px 12px;
        color: rgba(22, 24, 35, 0.34);
        border-top-right-radius: var(--search-border-radius);
        border-bottom-right-radius: var(--search-border-radius);
        cursor: pointer;
        background-color: transparent;

        &::after {
            content: '';
            position: absolute;
            top: var(--search-top-spacer);
            right: var(--search-button-width);
            height: calc(var(--search-height) - var(--search-top-spacer) * 2);
            width: 1px;
            background-color: rgba(22, 24, 35, 0.12);
        }

        &:hover {
            background-color: rgba(22, 24, 35, 0.03);
        }

        &:active {
            background-color: rgba(22, 24, 35, 0.06);
        }
    }
}
